@{
  Layout = "_Layout";
}

@model Kanban.Models.Manager

<div class="managerDetails">
  <h1><strong>Crew Details</strong></h1>

  <hr>
  <p>Crew Name: @Model.Name</p>
  <p>Contact : @Model.ContactInfo</p>
  <p>Position : @Model.Position</p>
  <p>Registered Date: @Model.RegisteredDate.Month/@Model.RegisteredDate.Day/@Model.RegisteredDate.Year</p>
  <p>Current Status : 
    @if (@Model.CurrentStatus == true)
    {
      <span class="checkmark">✔</span>
    }
    else 
    {
      <span class="wrongmark">✘</span>
    }
  </p>
  <hr>
  @if(@Model.Projects.Count == 0)
  {
    <h3>No projects has been assigned to this manager</h3>
    //<p>@Html.ActionLink("Assign project", "")</p>
  }
  else
  {
    <h3>@Html.DisplayFor(model => model.Name) manages projects:</h3>
    @foreach(var join in Model.Projects)
    {

      <h3>@Html.ActionLink($"{join.Project.ProjectName}", "Details", "Projects", new {id = join.Project.ProjectId })</h3>

      @using (Html.BeginForm("DeleteProject", "Managers"))
      {
        @Html.Hidden("joinId", @join.ProjectManagerId)
        <input type="submit" value="Delete">
      }
    }
  }
  <hr>
  <p>@Html.ActionLink("Edit Manager", "Edit", new {id =Model.ManagerId})</p>
  <p>@Html.ActionLink("Delete Manager", "Delete", new {id =Model.ManagerId})</p>
</div>