@{
  Layout = "_Layout";
}

@model Kanban.Models.ToDoList

<div class="todolistDetails">

  <h1><strong>Task Details</strong></h1>
  
  <hr>
  <h3>About Item @Html.DisplayFor(model => model.Name)</h3>
  <p>Work Item Name: @Model.Name</p>
  <p>Description: @Model.Content</p>
  <p>Priority: @Model.Priority</p>
  <p>Completed? 
    @if (@Model.CheckCompletion == true)
    {
      <span class="checkmark">✔</span>
    }
    else 
    {
      <span class="wrongmark">✘</span>
    }
  </p>
  <hr>

  <p>@Html.ActionLink("Edit To Do", "Edit", new { id = Model.ToDoListId })</p>
  <p>@Html.ActionLink("Delete To Do", "Delete", new { id = Model.ToDoListId })</p>
</div>

  