<div class="header">

  <div id="headerImg">
  <a href='@Url.Action("Index", "Home")'><img src="~/img/kanbanheader.png" style="width: 30px; height: 20px;" /></a>
  </div>
  <p style="width: 100px; padding: 20px; border: 2px solid red;">@Html.ActionLink("Projects", "Index", "Projects")</p>
  <p style="width: 100px; padding: 20px; border: 2px solid red;">@Html.ActionLink("People", "Index", "Managers")</p>
  <p style="width: 100px; padding: 20px; border: 2px solid red;" id="headerLogIn">@Html.ActionLink("LogIn", "LogIn", "Account")</p>

  @* <div id="headerImg"> 
    <p><img src="~/img/medical-history.png" style="width: 25px; height: 20px;">Doctor Patient Management</p>
  </div> *@
@* 
  <p style="width: 300px; padding: 20px; border: 2px solid red;" id="logInfo">@User.Identity.Name</p> *@

</div>